body {
    font-family: sans-serif;
    text-align: center;
}

.chartWrapper {
    position: relative;
    overflow: auto;
    width: 100%;
}

.chartContainer {
    position: relative;
    height: 800px;
}